#title{
  font-family:poppins;
}
p{
  font-family:poppins;
}
body{
  background-color:#f3eac2;
}
#survey-form{
  font-family:poppins;
  background-color:#16a596;
  color:white;
  font-weight:400;
  padding: 12px 20px;
  margin: 8px 2px;
  border-radius: 20px;
  font-size:19px;
}
input[type=text]{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea{
  width: 70%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family:poppins;
  border-radius:20px;
}
input[type=email]{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=number]{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
select {
  width: 70%;
  padding: 12px 20px;
  background-color: white;
  font-family:poppins;
  box-sizing:border-box;
}
button{
  background-color:#c72e2e;
  color:white;
  padding:5px 5px;
  border:none;
  width:45%;
  font-family:poppins;
  text-decoration:bold;
  border-radius:100px;
  text-align:center;
  
}

 div{
    
    display: block;
    text-align: center;
  }
form{
   display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  
  
}